@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #f8f8f8;
  --item-background: #fefefe;
  --light-grey: #eeeeee;
  --grey: #dcdcdc;
  --black: #414141;
  --dark-grey: #161616;
  --text-main: #333333;
  --text-details: #818181;
  --text-white: #fafafa;
  --text-link: #4c94d7;
  --text-heading: #191919;
  --turquoise: #45c9c0;
  --blue: #288ebe;
  --feedback-error: #d75f5f;
  --feedback-success: #729c66;
  --feedback-warning: #ead049;
  --feedback-info: #487bc8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: var(--text-main);
}

/* text variants */
.heading-3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-heading);
}

.heading-2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-heading);
  margin: 0;
}

.text {
  font-size: 1rem;
  font-weight: 400;
}

.text-medium {
  font-size: 1rem;
  font-weight: 500;
}

.text-bold {
  font-size: 1rem;
  font-weight: 600;
}

.details {
  font-size: 0.875rem;
  font-weight: 400;
}

.details-medium {
  font-size: 0.875rem;
  font-weight: 500;
}

.details-bold {
  font-size: 0.875rem;
  font-weight: 600;
}

.labels {
  font-size: 0.75rem;
  font-weight: 400;
}

.labels-medium {
  font-size: 0.75rem;
  font-weight: 500;
}

.labels-bold {
  font-size: 0.75rem;
  font-weight: 600;
}

.grey {
  color: var(--text-details);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* line */
hr {
  width: 100%;
  height: 1px;
  background: var(--grey);
  border-width: 0;
}

/* button components */
button {
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 0.125rem solid var(--turquoise);
  background-color: var(--item-background);
  color: var(--turquoise);
  font-size: 0.875rem;
  font-weight: 600;
}

button:hover {
  background-color: rgba(55, 184, 176, 0.1);
  cursor: pointer;
}

.icon-button {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon-button-icon {
  width: 1.25rem;
  height: 1.25rem;
}

/* nav bar */
#nav-bar {
  display: flex;
  width: calc(100vw - 4rem);
  height: 3.75rem;
  padding: 0.5rem 4rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: var(--item-background);
  box-shadow: 0 1px 10px 0 rgba(48, 48, 48, 0.05);
}

#logo {
  width: 5.375rem;
  height: auto;
}

#nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* responsive menu - button */
#menu-hamburger {
  display: none;
}

#nav-discounts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#nav-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flag {
  width: 1.25rem;
  height: 1.25rem;
}

#profile-s {
  width: 1.5rem;
  height: 1.5rem;
}

.profile-m {
  width: 2.75rem;
  height: 2.75rem;
}

#profile-l {
  width: 7.5rem;
  height: 7.5rem;
  border: 0.75rem solid var(--item-background);
  position: absolute;
  left: 2.5rem;
  top: -3.5rem;
  border-radius: 100px;
}

/* content */
#content-container {
  display: flex;
  padding: 12rem 2rem 4rem 2rem;
  align-items: center;
  gap: 2rem;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 73.5rem;
}

#user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius: 1.375rem 1.375rem 1.375rem 0;
  background-color: var(--item-background);
  position: relative;
}
/* user info */
#user-info-container {
  display: flex;
  padding: 5.25rem 2rem 1rem 2rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 1.375rem;
  background-color: var(--item-background);
}

#user-info-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

#get-id {
  width: 15.5rem;
}

#user-tabs {
  display: flex;
  align-items: flex-start;
  border-bottom: 0.125rem solid var(--grey);
}

.tab {
  display: flex;
  width: 12.5rem;
  padding-bottom: 0.75rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.active {
  border-bottom: 0.25rem solid var(--turquoise);
}
/*. bookings */
#bookings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
/* booking card */
.card {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.75rem;
  background-color: var(--item-background);
  box-shadow: 0 0.25rem 0.625rem 0 rgba(48, 48, 48, 0.1);
}

.card-closed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.card-closed-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.card-closed-details-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* status */
.status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* status: ongoing */
.ongoing {
  color: var(--feedback-info);
}

.dot-ongoing {
  background-color: var(--feedback-info);
  border-radius: 100px;
  height: 0.625rem;
  width: 0.625rem;
}

/* status: soon */
.soon {
  color: var(--feedback-warning);
}

.dot-soon {
  background-color: var(--feedback-warning);
  border-radius: 100px;
  height: 0.625rem;
  width: 0.625rem;
}

/* status: ongoing */
.approved {
  color: var(--feedback-success);
}

.dot-approved {
  background-color: var(--feedback-success);
  border-radius: 100px;
  height: 0.625rem;
  width: 0.625rem;
}

.card-tags {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.card-tag {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* icons */
.icon-s {
  width: 1rem;
  height: 1rem;
}

.icon-m {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-l {
  width: 1.5rem;
  height: 1.5rem;
}

.card-open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  padding-top: 0.5rem;
}

.card-open-container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
}

.card-open-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
}

.open-sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.section-content {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.75rem;
  background-color: var(--background);
}

.section-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.card-open-map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.card-open-participants {
  display: flex;
  padding-top: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

/* accordion */
.panel {
  display: none;
  overflow: hidden;
}

.accordion {
  cursor: pointer;
}

/* map */
.map {
  width: 45rem;
  height: auto;
}

/* participants */
.participants-grid {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.participant {
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 21.125rem;
  border-radius: 1.375rem;
  background-color: var(--background);
}

.participant-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}

.participant-info {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  flex-direction: column;
}

.participant-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* participnat availability */
.busy {
  color: var(--feedback-error);
}

.attending {
  color: var(--feedback-success);
}

.no-response {
  color: var(--text-details);
}

.section-details-title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* footer */
#footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--black);
  color: var(--text-white);
}

#footer-links {
  display: flex;
  padding: 2rem 2rem 0 2rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 75rem;
  gap: 6rem;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 10.25rem;
}

#app-header {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  align-items: center;
  gap: 2rem;
  hr {
    width: 50%;
    background: #2f2f2f;
  }
}

#app-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.app-button {
  height: 2.5rem;
  width: auto;
}

#contact-container {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #151515;
  width: 100%;
}

#contact-info {
  display: flex;
  width: 75rem;
  justify-content: space-between;
  align-items: center;
}

#info-details {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

#some-icons {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.some-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* error 404 */
#error-container {
  width: 75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#error-image {
  width: 38.75rem;
  height: auto;
}

#error-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

#error-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

/* back button */
#back {
  background-color: var(--turquoise);
  color: var(--text-white);
}

#back:hover {
  background-color: #37b8b0;
}

media screen and (max-width: 400px) {

    /* responsive card content */
  .card-open-info {
    gap: 1rem;
  }
  .card-open-container {
    flex-direction: column;
    gap: 1rem;
  }

  .map {
    width: 100%;
    height: auto;
  }

  .participant {
    gap: 0;
  }
  
  /* responsive nav */
  #navbar
  {
    padding: 3rem 1rem 1.5rem 1rem;
    width: calc(100vw - 1rem);
  }

  #menu-hamburger {
    display: block;
  }

  #nav-items {
    display: none;
  }

    /* responsive footer */
  #footer-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 4rem;
  }

  .footer-links-list {
    text-align: center;
    align-items: center;
    width: auto;
  }

  #app-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  #contact-info {
    flex-direction: column;
    gap: 1rem;
  }

  #info-details {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* responsive content */
  #content {
    width: calc(100vw - 2rem);
  }

  /* responsive user info */
  #user-info-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #user-info-name {
    width: 100%;
  }

  /* responsive tabs - hidden just for the visual purposes */
  .tab {
    display: none;
  }

  /* responsive cards */
  #bookings {
    gap: 0.75rem;
  }

  .card-tags {
    width: 110%;
  }

  .icon-button {
    padding: 0;
  }
  
  /* error page */
  #error-container {
    flex-direction: column;
    gap: 0;
  }

  #error-image {
    width: 20rem;
    height: auto;
  }

  #error-content {
    align-items: center;
    text-align: center;
  }

  #error-text {
    align-items: center;
    width: calc(100vw - 2rem);
  }

  .heading-2 {
    font-size: 2rem;
  }
}

